.popupMenu {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 50rem; 
    top: 0;
    left: 0;
    background: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        color: #000;
        margin-top: 5rem;
        font-family: 'Neue Montreal Regular';
        font-size: 3.7rem;
        letter-spacing: -10px;
        word-spacing: 10px;

        span {
            font-family: 'Neue Montreal Italic';
            letter-spacing: 0;
        }
    }

    &__items {
        margin-top: 4rem;

        button {
            background: transparent;
            border: 1px solid $primary-color;
            font-size: 20px;
            width: 8rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 30px;
            margin-top: 2rem;
            cursor: pointer;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 5rem;
        background-color: transparent;
        border-top: 2px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            color: $primary-color;
            font-size: 24px;
            font-family: 'Neue Montreal Regular';
        }
    }
}
.change {
    visibility: visible;
}